<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage>
    <include>
      <directory>./src</directory>
    </include>
  </coverage>
  <php>
    <ini name="xdebug.max_nesting_level" value="200"/>
  </php>
  <testsuites>
    <testsuite name="LiveBroadcastSonataAdminBundle">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
