<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php">
    <php>
        <ini name="xdebug.max_nesting_level" value="200" />
    </php>
    <testsuites>
        <testsuite name="LiveBroadcastSonataAdminBundle">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
